{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}

    <h1>Descrição do projeto</h1>

    <p>
        Este sistema objetiva apresentar uma solução para melhorar a adesão ao tratamento por pacientes em polifarmácia. O protótipo desenvolvido utiliza Internet das Coisas e consiste em uma caixa de medicamentos com compartimentos para acomodar produtos sob diversas formas farmacêuticas nas embalagens originais, um alarme sonoro e visual, e um display LCD para exibição de dados sobre o paciente e o medicamento a ser administrado.
    </p>
    <p>
        O sistema web da Lovebox, desenvolvido com o framework Django, em linguagem de
programação Python, é responsável pelos cadastros necessários para o funcionamento
do sistema, como paciente, cuidador, medicamento e tratamento. 
    </p>

{% endblock %}

{% block rodape %}

Dúvidas? Entre em contato...

{% endblock %}