{% extends 'paginas/modelo.html' %}

{% load static %}

{% block conteudo %}

<h2 class="mt-4 mb-4 border-bottom pb-2">
    Lista de Profissionais da Saúde
</h2>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Nome</th>
            <th>CRC</th>
            <th>Opções</th>
        </tr>
    </thead>

    <tbody>
        {% for profissionalsaude in object_list %}
        <tr>
            <td>{{profissionalsaude.nome}}</td>
            <td>{{profissionalsaude.crc}}</td>
            <td>    
                <a href="{% url 'editar-profissional_saude' profissionalsaude.pk %}" class="btn btn-sm btn-warning" title="Editar">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="{% url 'excluir-profissional_saude' profissionalsaude.pk %}" class="btn btn-sm btn-danger" title="Excluir">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="100%">Nenhum registro encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

<a href="{% url 'cadastrar-profissional_saude' %}" class="btn btn-primary btn-sm mt-3">Cadastrar Profissional da Saúde</a>

{% endblock %}